7.05 Activity 1

List down three more examples of cases where ANOVA could be useful.

In [ ]:
"""
Marketing research: ANOVA can be used in marketing research to compare the effectiveness of different 
marketing strategies on customer behavior, such as buying habits or brand loyalty. For instance, 
a company may use ANOVA to test whether there is a significant difference in sales between different 
promotional offers, such as discounts or free gifts.

Medical research: ANOVA can be used in medical research to compare the effectiveness of different 
treatments or therapies on patient outcomes. For example, a clinical trial may use ANOVA
 to test whether there is a significant difference in the recovery time of patients who receive
  different treatments for a particular disease.

Education research: ANOVA can be used in education research to compare the effectiveness of different
 teaching methods or instructional materials on student learning outcomes. For example, 
 a study may use ANOVA to test whether there is a significant difference in test scores between students
  who receive different types of instruction, such as lecture-based versus discussion-based instruction.
"""

7.05 Activity 2

What are some of the assumptions of one way ANOVA? This is one good resource that you can use to read more about ANOVA and other statistics content: external resource.

In [ ]:
"""
Independence: The observations within each group must be independent of one another.

Normality: The data within each group must be normally distributed. You can check this assumption 
by creating histograms, normal probability plots, or using normality tests such as the Shapiro-Wilk test.

Homogeneity of variances: The variance of the data within each group must be roughly equal. 
You can check this assumption using statistical tests such as Levene's test or the Bartlett's test.

Random sampling: The samples from each group should be randomly selected from the population.

If these assumptions are not met, it can affect the accuracy of the ANOVA results. 
There are some techniques to handle violations of these assumptions, such as transformations, 
nonparametric tests, or robust statistical methods, but these are beyond the scope of this answer. 
It is important to check the assumptions before interpreting the results of a one-way ANOVA.
"""

7.05 Activity 3

Activity 3 is actually the Part 1 in the Inferential statistics- ANOVA.

Lab | Inferential statistics - ANOVA

Note: The following lab is divided in 2 sections which represent activities 3 and 4.

Part 1

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

Context
Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

- State the null hypothesis

- State the alternate hypothesis

- What is the significance level

- What are the degrees of freedom of model, error terms, and total DoF

- Data was collected randomly and provided to you in the table as shown: link to the image - Data

*H0 : la potencia no influye en el proceso de grabado con plasma (en promedio)*

- Todas las medias de los grupos son iguales

*HA : la potencia  influye en el proceso de grabado con plasma (en promedio)*
La media o medias de los grupos no son iguales

Significance level: 5%

Degrees of freedom: 2

Error terms: 12

Total DoF: 14

7.05 Activity 4

Activity 4 is actually the Part 2 in the Inferential statistics- ANOVA.

Part 2

In this section, use Python to conduct ANOVA.
What conclusions can you draw from the experiment and why?

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_excel('anova_lab_data.xlsx',sheet_name='data_collected')
data.columns=[c.lower().replace(' ', '_') for c in data.columns]
data

   power_  etching_rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [ ]:
from statsmodels.formula.api import ols
#ols('Var_Dep  ~ Vars_Inds',datos) aquí la virgulilla sirve para separar los tipos de vars

#aquí entiende que Display_desing es continuo
model=ols('etching_rate~power_', data=data).fit()

#aquí entiende que Display_desing es una categoría
model=ols('etching_rate~C(power_)', data=data).fit()

In [ ]:
#Tabla ANOVA (Analysis of Variance)
import statsmodels.api as sm
tabla=sm.stats.anova_lm(model)
tabla

             df     sum_sq   mean_sq          F    PR(>F)
C(power_)   2.0  18.176653  9.088327  36.878955  0.000008
Residual   12.0   2.957240  0.246437        NaN       NaN

In [ ]:
"""
Hay un p_value= 0.000008, probabilidad de que las categorias son diferentes entre si 
Se rechaza la hipotesis nula y se acepta la alternativa
"""