Lab | Inferential statistics - T-test & P-value

We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

Test statistics can be calculated as: link to the image - Test statistics calculation for Unpooled Variance Case

Degrees of freedom is (n1-1)+(n2-1).

In [ ]:
import pandas as pd
import numpy as np

In [15]:
new_machine=np.array([42.1,41,41.3,41.8,42.4,42.8,43.2,42.3,41.8,42.7])
old_machine=np.array([42.7,43.6,43.8,43.3,42.5,43.5,43.1,41.7,44,44.1])

In [3]:
import statistics

In [24]:
mean_new=statistics.mean(new_machine)
mean_new

42.14

In [25]:
mean_old=statistics.mean(old_machine)
mean_old

43.230000000000004

In [20]:
n_new=10
n_old=10

In [22]:
std_new=np.std(new_machine)
std_new

0.6483826030978941

In [23]:
std_old=np.std(old_machine)
std_old

0.7114070564732956

In [4]:
import math

In [29]:
degrees_freedom=(n_new-1)+(n_old-1)
degrees_freedom

18

In [30]:
test=(mean_new-mean_old)/(math.sqrt((std_new**2/n_new)+(std_old**2/n_old)))
test

-3.5809955894645813

In [ ]:
# p_value = 0.00213558

In [32]:
machine_data=pd.read_csv('machine.csv',encoding="utf-16", sep="\t")
machine_data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances. Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file files_for_lab/student_gpa.txt. At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

In [5]:
student_data=pd.read_csv('student_gpa.txt',sep="\t")
student_data

    Sophomores    Juniors
0         3.04       2.56
1         1.71       2.77
2         3.30       2.70
3         2.88       3.00
4         2.11       2.98
5         2.60       3.47
6         2.92       3.26
7         3.60       3.20
8         2.28       3.19
9         2.82       2.65
10        3.03       3.00
11        3.13       3.39
12        2.86       2.58
13        3.49        NaN
14        3.11        NaN
15        2.13        NaN
16        3.27        NaN

In [6]:
from scipy import stats

In [15]:
stats.ttest_ind(student_data['Sophomores'],student_data['  Juniors'], nan_policy='omit')

Ttest_indResult(statistic=-0.864325455323425, pvalue=0.39475359666695975)

In [7]:
sophomores=student_data['Sophomores'].tolist()
sophomores

[3.04,
 1.71,
 3.3,
 2.88,
 2.11,
 2.6,
 2.92,
 3.6,
 2.28,
 2.82,
 3.03,
 3.13,
 2.86,
 3.49,
 3.11,
 2.13,
 3.27]

In [9]:
juniors=np.array([2.56,2.77,2.70,3.00,2.98,3.47,3.26,3.20,3.19,2.65,3.00,3.39,2.58,'NaN','NaN','NaN','NaN'])
juniors

array(['2.56', '2.77', '2.7', '3.0', '2.98', '3.47', '3.26', '3.2',
       '3.19', '2.65', '3.0', '3.39', '2.58', 'NaN', 'NaN', 'NaN', 'NaN'],
      dtype='<U32')